<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>

<body>

<h1>Редактировать данные пользователя</h1>

<form th:action="@{/edit}" th:object="${user}" method="post">
    <p><input th:type="hidden" th:field="*{id}"/></p>
    <p>Имя: <input type="text" th:field="*{name}"/></p>
    <p>Фамилия: <input type="text" th:field="*{surname}"/></p>
    <p>Возраст: <input type="number" th:field="*{age}"/></p>
    <p><input type="submit" value="Подтвердить изменения"/></p>
</form>

<br>
<a th:href="@{/users}">Назад</a>

</body>
</html>